html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.Header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 100%;
  display: flex;
}

.Header-nav {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.Header-nav-pair {
  display: flex;
  justify-content: center;
  margin: 14px;
}

.Header-nav-pair-text {
  margin-left: 6px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.01px;
  color: #667580;
}

.Header-twitter {
  position: absolute;
  left: 50%;
  margin-top: 16px;
}

.Header-menu {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.Header-menu-search {
  display: flex;
  justify-content: space-between;
  background: #f5f8fa;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  border-radius: 100px;
  width: 33.333%;
  margin: 8px;
}

.Header-menu-search-magnifier {
  margin-right: 8px;
}

.Header-menu-search-text {
  margin-left: 8px;
  margin-top: 6px;
  height: 14px;
  font-family: HelveticaNeue;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.01px;
  color: #687b8a;
}

.Header-menu-avatar {
  margin: 8px;
}

.Header-menu-tweet {
  background: #1da1f2;
  border-radius: 100px;
  margin: 8px;
  padding: 8px;
  font-family: HelveticaNeue;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.01px;
  font-weight: 600;
  color: #ffffff;
  width: 10%;
}
