html {
  box-sizing: border-box;
}

.a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: inherit;
}

.Desktop {
  position: relative;
  width: 100%;
  height: 1454px;

  background: #e6ecf0;
}

.Header {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  display: flex;
  fill: solid;
}

.Header-nav {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.Header-nav-pair {
  display: flex;
  justify-content: center;
  margin: 14px;
}

.Header-nav-pair-text {
  margin-left: 6px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.01px;
  color: #667580;
}

.Header-menu {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.Header-menu-search {
  display: flex;
  justify-content: space-between;
  background: #f5f8fa;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  border-radius: 100px;
  width: 33.333%;
  margin: 8px;
}

.Header-menu-search-magnifier {
  margin-right: 8px;
}

.Header-menu-search-text {
  margin-left: 8px;
  margin-top: 6px;
  height: 14px;
  font-family: HelveticaNeue;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.01px;
  color: #687b8a;
}

.Header-menu-tweet {
  background: #1da1f2;
  border-radius: 100px;
  margin: 8px;
  padding: 8px;
  font-family: HelveticaNeue;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.01px;
  font-weight: 600;
  color: #ffffff;
  width: 10%;
}

.Cover {
  position: absolute;
  top: 45px;
  max-height: 380px;
  overflow: hidden;
  width: auto;
}

.Cover-image {
  width: 100%;
  height: auto;
}

.Statistics {
  position: absolute;
  left: 0%;
  top: 425px;
  height: 60px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 2px #b0b8be;
  display: flex;
  fill: solid;
}

.Statistics-empty {
  flex-basis: 30%;
}

.Statistics-nav {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
}

.Statistics-nav-pair {
  display: flex;
  margin-left: 4px;
  margin-right: 4px;
  justify-content: space-around;
  flex-direction: column;
}

.Statistics-nav-pair-text {
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: HelveticaNeue;
  font-weight: 600;
  line-height: 21px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.01px;

  color: #788a98;
}

.Statistics-nav-pair-count {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  font-family: HelveticaNeue;
  font-weight: 600;
  line-height: 21px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.01px;

  color: #788a98;
}

.Statistics-nav-pair-active-text {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: HelveticaNeue;
  font-weight: 600;
  line-height: 21px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.01px;

  color: #707e88;
}

.Statistics-nav-pair-active-count {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 3px;
  font-family: HelveticaNeue;
  font-weight: 600;
  line-height: 21px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.01px;

  color: #1da1f2;
}

.Statistics-nav-pair-active-bar {
  padding-left: 16px;
  padding-right: 16px;
  height: 4px;
  background: #1da1f2;
}

.Statistics-nav-tweet {
  background: #1da1f2;
  border-radius: 100px;
  margin: 8px;
  padding: 8px;
  font-family: HelveticaNeue;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.01px;
  font-weight: 600;
  color: #ffffff;
  width: 10%;
}

.Statistics-menu {
  display: flex;
  flex-basis: 20%;
  justify-content: flex-start;
}

.Statistics-menu-follow {
  background: #ffffff;
  border-radius: 100px;
  margin: 12px;
  padding: 8px;
  border: 1px solid #1da1f2;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: HelveticaNeue;
  line-height: normal;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: 100px;
  color: #1da1f2;
}

.Statistics-menu-more {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px;
  justify-content: center;
  flex-direction: column;
}

.Statistics-menu-more-oval {
  padding-top: 1px;
}

.LeftColumn {
  position: absolute;
  top: 302px;
  left: calc(((100% - 1500px) * 0.3) + 172px);
  width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.LeftColumn-avatar {
  width: 208px;
  height: 208px;
}

.LeftColumn-avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: #ffffff;
  border: 1px solid #e7ecf0;
  box-sizing: border-box;
}

.LeftColumn-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.LeftColumn-author-name {
  padding: 2px;
  margin-top: 16px;
  font-family: Helvetica Neue;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: 0.017px;
  font-weight: 600;

  color: #14171a;
}

.LeftColumn-author-tick {
  margin-left: 4px;
}

.LeftColumn-authorShort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.LeftColumn-authorShort-name {
  padding: 2px;
  font-family: Helvetica Neue;
  line-height: 21px;
  font-size: 14px;
  letter-spacing: 0.01px;

  color: #697787;
}

.LeftColumn-authorShort-follows {
  padding: 6px;
  font-family: Helvetica Neue;
  line-height: 12px;
  font-size: 12px;
  letter-spacing: 0.0085px;

  color: #697787;
}

.LeftColumn-description {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.LeftColumn-description-text {
  font-family: HelveticaNeue;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.0107692px;

  color: #14171a;
}

.LeftColumn-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.LeftColumn-contacts-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.LeftColumn-buttons {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.LeftColumn-buttons-instance {
  background: #1da1f2;
  border-radius: 100px;

  font-family: HelveticaNeue;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.01px;
  width: 128px;
  height: 40px;
  font-weight: 600;
  padding: 12px;

  color: #ffffff;
}

.Middle {
  position: absolute;
  top: 492px;
  left: calc(((100% - 1500px) * 0.3) + 455px);
  width: 591px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #ffffff;
  fill: solid;
}

.Middle-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #ffffff;
}

.Middle-tab-nav {
  margin: 12px 20px 8px 16px;
  font-family: HelveticaNeue;
  line-height: normal;
  font-size: 18px;
  letter-spacing: -0.1px;
  font-weight: 600;

  color: #1da1f2;
}

.Middle-tab-nav-active {
  margin: 12px 20px 8px 16px;
  font-family: HelveticaNeue;
  line-height: normal;
  font-size: 18px;
  letter-spacing: -0.1px;
  font-weight: 600;

  color: #000000;
}

.Middle-tweet-line {
  height: 1px;
  background: #e1e8ed;
}

.Middle-tweet-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Middle-tweet-data-left {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 8px;
}

.Middle-tweet-data-left-pinned {
  margin-top: 2px;
}

.Middle-tweet-data-right {
  display: flex;
  flex-basis: 90%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 8px;
  margin-right: 24px;
}

.Middle-tweet-data-right-pinned {
  font-family: HelveticaNeue;
  line-height: normal;
  font-size: 12px;
  letter-spacing: -0.175px;

  color: #707e88;
}

.Middle-tweet-data-right-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Middle-tweet-data-right-author-text {
  font-family: HelveticaNeue;
  line-height: 30px;
  font-size: 15px;
  letter-spacing: -0.22px;
  font-weight: 600;
}

.Middle-tweet-data-right-author-short {
  margin-left: 4px;
  margin-right: 4px;
  font-family: Helvetica Neue;
  line-height: 21px;
  font-size: 13px;
  letter-spacing: 0.01px;
  color: #697787;
}

.Middle-tweet-data-right-author-date {
  font-family: Helvetica Neue;
  line-height: 21px;
  font-size: 13px;
  letter-spacing: 0.01px;
  color: #697787;
}

.Middle-tweet-data-right-actions {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Middle-tweet-data-right-actions-pair {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Middle-tweet-data-right-actions-pair-icon {
  padding: 4px;
}
