.Header .nav {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.Header .nav-pair {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.Header .menu {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.Header .menu-search {
  display: flex;
  justify-content: space-between;
  background: #f5f8fa;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  border-radius: 100px;
  width: 33.333%;
  margin: 8px;
}

.Header .menu-search-magnifier {
  margin-right: 8px;
}

.Header .menu-search-text {
  margin-left: 8px;
  margin-top: 6px;
  height: 14px;
  font-family: HelveticaNeue;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.01px;
  color: #687b8a;
}

.Header .menu-tweet {
  background: #1da1f2;
  border-radius: 100px;
  margin: 8px;
  padding: 8px;
  font-family: HelveticaNeue;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.01px;
  font-weight: 600;
  color: #ffffff;
  width: 10%;
}
