.LeftColumn .avatar {
  width: 208px;
  height: 208px;
}

.LeftColumn .avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: #ffffff;
  border: 1px solid #e7ecf0;
  box-sizing: border-box;
}

.LeftColumn .author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.LeftColumn .author-name {
  padding: 2px;
  margin-top: 16px;
  font-family: Helvetica Neue;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: 0.017px;
  font-weight: 600;

  color: #14171a;
}

.LeftColumn .author-tick {
  margin-left: 4px;
}

.LeftColumn .authorShort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.LeftColumn .authorShort-name {
  padding: 2px;
  font-family: Helvetica Neue;
  line-height: 21px;
  font-size: 14px;
  letter-spacing: 0.01px;

  color: #697787;
}

.LeftColumn .authorShort-follows {
  padding: 6px;
  font-family: Helvetica Neue;
  line-height: 12px;
  font-size: 12px;
  letter-spacing: 0.0085px;

  color: #697787;
}

.LeftColumn .description {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.LeftColumn .description-text {
  font-family: HelveticaNeue;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.0107692px;

  color: #14171a;
}

.LeftColumn .contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.LeftColumn .contacts-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.LeftColumn .buttons {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.LeftColumn .buttons-instance {
  background: #1da1f2;
  border-radius: 100px;

  font-family: HelveticaNeue;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.01px;
  width: 128px;
  height: 40px;
  font-weight: 600;
  padding: 12px;

  color: #ffffff;
}

.LeftColumn .followers {
  margin-top: 16px;
  display: block;
}

.LeftColumn .followers-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.LeftColumn .followers-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.LeftColumn .followers-list-follower {
  margin-right: 4px;
}

.LeftColumn .photovideos {
  margin-top: 16px;
  display: block;
}

.LeftColumn .photovideos-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.LeftColumn .photovideos-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.LeftColumn .photovideos-list-photovid {
  margin-right: 4px;
}
