.Statistics .empty {
  flex-basis: 30%;
}

.Statistics .nav {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
}

.Statistics .nav-pair {
  display: flex;
  margin-left: 4px;
  margin-right: 4px;
  justify-content: space-around;
  flex-direction: column;
}

.Statistics .nav-pair-text {
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: HelveticaNeue;
  font-weight: 600;
  line-height: 21px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.01px;

  color: #788a98;
}

.Statistics .nav-pair-count {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  font-family: HelveticaNeue;
  font-weight: 600;
  line-height: 21px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.01px;

  color: #788a98;
}

.Statistics .nav-pair-active-text {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: HelveticaNeue;
  font-weight: 600;
  line-height: 21px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.01px;

  color: #707e88;
}

.Statistics .nav-pair-active-count {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 3px;
  font-family: HelveticaNeue;
  font-weight: 600;
  line-height: 21px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.01px;

  color: #1da1f2;
}

.Statistics .nav-pair-active-bar {
  padding-left: 16px;
  padding-right: 16px;
  height: 4px;
  background: #1da1f2;
}

.Statistics .nav-tweet {
  background: #1da1f2;
  border-radius: 100px;
  margin: 8px;
  padding: 8px;
  font-family: HelveticaNeue;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.01px;
  font-weight: 600;
  color: #ffffff;
  width: 10%;
}

.Statistics .menu {
  display: flex;
  flex-basis: 20%;
  justify-content: flex-start;
}

.Statistics .menu-follow {
  background: #ffffff;
  border-radius: 100px;
  margin: 12px;
  padding: 8px;
  border: 1px solid #1da1f2;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: HelveticaNeue;
  line-height: normal;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: 100px;
  color: #1da1f2;
}

.Statistics .menu-more {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px;
  justify-content: center;
  flex-direction: column;
}

.Statistics .menu-more-oval {
  padding-top: 1px;
}
