.Statistics .empty {
  flex-basis: 30%;
}

.Statistics .nav {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
}

.Statistics .nav-pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.Statistics .menu {
  display: flex;
  flex-basis: 20%;
  justify-content: flex-start;
}

.Statistics .menu-more {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px;
  justify-content: center;
  flex-direction: column;
}

.Statistics .menu-more-oval {
  padding-top: 1px;
}
